<!-- [class]="fg.classes.includes('invalid') ? 'invalid' -->
<!-- [highlightErrors]="highlightErrors" -->
<field *ngIf="isInputField(node.kind); else maybeWindMit" [field]="node" [depth]="newDepth"></field>

<ng-template #maybeWindMit>
    <wind-mitigation
        *ngIf="node.id === 'wind-mitigation-fl'; else fieldgroup"
        [fg]="node"
        [class]="node.classes"
        [depth]="newDepth"
    ></wind-mitigation>
</ng-template>
<ng-template #fieldgroup>
    <field-group
        *ngIf="node.kind === 'fieldgroup'"
        [fg]="node"
        [highlightErrors]="highlightErrors"
        [depth]="newDepth"
    ></field-group>
</ng-template>
