<div>
  <div class="fg" *ngFor="let fg of makeFieldGroups(portfolio); index as i; trackBy: trackBy"
    [id]="fg.id">
    <h3>{{fg.label}}</h3>
    <info-hover [fieldname]="fg.id"></info-hover>
    <field-group [fg]="fg" [class]="fg.classes"></field-group>
  </div>
  <div class="flex">
    <button *ngIf="!portfolio.valid" (click)="invalidFieldsAreHighlighted = true;">Highlight Invalid Fields</button>
    <button id="ya-submit-button" [disabled]="!portfolio.valid" (click)="submit()">Submit</button>
  </div>

  <div id="success-message" *ngIf="isPortolioSubmitted">
    Your application has successfully been sent
  </div>
</div>