body {
  font-size: 16px;
}

.fieldset {
  border: 1px solid #aaa;
  border-radius: 0.8rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: clamp(400px, 60rem, 1012px);
}

.fieldset.invalid {
  border: 2px solid red;
}

.label {
  display: inline-block;
  width: 36ch;
  text-align: right;
  margin-right: 0.5rem;
}

.question {
  margin-bottom: 0.32rem;
}

/* CSS targeting a specific field group. */
.house-type {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.house-type img {
  padding-right: 1rem;
}

div.tag {
  width: max-content;
  background-color: silver;
  border-radius: 4px;
  height: fit-content;
  overflow: hidden;
  cursor: pointer;
}

div.tag span {
  padding: 5px;
}

div.tag span.remove-btn {
  padding: 5px;
  background-color: tomato;
}

$windmitCheckboxes: buildingCode-a 27px 76px 29px 690px, buildingCode-b 27px 110px 29px 690px,
  buildingCode-c 27px 145px 29px 690px, aYearBuilt 317px 79px 14px 67px,
  aBuildingPermitApplicationDate 417px 94px 14px 117px, bYearBuilt 458px 113px 14px 47px,
  bBuildingPermitApplicationDate 536px 128px 14px 160px, roofCovering-a 26px 388px 29px 690px,
  roofCovering-b 26px 423px 29px 690px, roofCovering-c 26px 456px 14px 850px,
  roofCovering-d 26px 476px 14px 375px,
  roofCoveringType-asphaltOrFiberglassShingle 57px 253px 14px 120px,
  roofCoveringType-asphaltOrFiberglassShingle-date 222px 257px 14px 120px,
  roofCoveringType-asphaltOrFiberglassShingle-Approval 365px 257px 14px 120px,
  roofCoveringType-asphaltOrFiberglassShingle-InstallationYear 511px 257px 14px 120px,
  roofCoveringType-asphaltOrFiberglassShingle-NoInfo 655px 253px 14px 120px,
  roofCoveringType-concreteOrClayTile 57px 275px 14px 120px,
  roofCoveringType-concreteOrClayTile-date 222px 278px 14px 120px,
  roofCoveringType-concreteOrClayTile-Approval 365px 278px 14px 120px,
  roofCoveringType-concreteOrClayTile-InstallationYear 511px 278px 14px 120px,
  roofCoveringType-concreteOrClayTile-NoInfo 655px 275px 14px 120px,
  roofCoveringType-metal 57px 297px 14px 120px, roofCoveringType-metal-date 222px 299px 14px 120px,
  roofCoveringType-metal-Approval 365px 299px 14px 120px,
  roofCoveringType-metal-InstallationYear 511px 299px 14px 120px,
  roofCoveringType-metal-NoInfo 655px 297px 14px 120px,
  roofCoveringType-builtUp 57px 319px 14px 120px,
  roofCoveringType-builtUp-date 222px 322px 14px 120px,
  roofCoveringType-builtUp-Approval 365px 322px 14px 120px,
  roofCoveringType-builtUp-InstallationYear 511px 322px 14px 120px,
  roofCoveringType-builtUp-NoInfo 655px 318px 14px 120px,
  roofCoveringType-membrane 57px 340px 14px 120px,
  roofCoveringType-membrane-date 222px 342px 14px 120px,
  roofCoveringType-membrane-Approval 365px 342px 14px 120px,
  roofCoveringType-membrane-InstallationYear 511px 342px 14px 120px,
  roofCoveringType-membrane-NoInfo 655px 340px 14px 120px,
  roofCoveringType-other 57px 360px 14px 120px, roofCoveringType-other-date 222px 364px 14px 120px,
  roofCoveringType-other-Approval 365px 364px 14px 120px,
  roofCoveringType-other-InstallationYear 511px 364px 14px 120px,
  roofCoveringType-other-NoInfo 655px 360px 14px 120px,
  roofCoveringType-other-Description 105px 361px 14px 105px,
  roofDeckAttachment-a 26px 518px 56px 710px, roofDeckAttachment-b 26px 583px 56px 710px,
  roofDeckAttachment-c 26px 648px 90px 710px, roofDeckAttachment-d 26px 746px 14px 215px,
  roofDeckAttachment-e 26px 765px 14px 385px, roofDeckAttachment-f 26px 784px 14px 180px,
  roofDeckAttachment-g 26px 803px 14px 130px, roofToWallAttachment-a 26px 860px 14px 90px,
  roofToWallAttachment-b 26px 1025px 14px 75px, roofToWallAttachment-c 26px 1097px 45px 710px,
  roofToWallAttachment-d 26px 1146px 14px 125px, roofToWallAttachment-e 26px 1249px 14px 470px,
  roofToWallAttachment-f 26px 1268px 14px 405px, roofToWallAttachment-g 26px 1287px 14px 185px,
  roofToWallAttachment-h 26px 1306px 14px 125px, roofGeometry-a 26px 1369px 28px 605px,
  roofGeometry-b 26px 1401px 28px 670px, roofGeometry-c 26px 1432px 14px 435px,
  secondaryWaterResistance-a 26px 1488px 42px 710px,
  secondaryWaterResistance-b 26px 1536px 17px 100px,
  secondaryWaterResistance-c 26px 1552px 14px 195px, aToeNailsTrussRafter-a 104px 879px 28px 630px,
  aToeNailsTrussRafter-b 104px 914px 14px 630px, minConditionBCDSecured 104px 956px 14px 355px,
  minConditionBCDAttached 104px 975px 42px 630px, dDoubleWraps-2straps 104px 1165px 45px 630px,
  dDoubleWraps-1strap 104px 1215px 30px 630px, bClips-nowrap 104px 1043px 14px 390px,
  bClips-1strap 104px 1062px 30px 630px, openingProtection-a 20px 1653px 154px 715px,
  openingProtection-b 20px 1904px 185px 715px, openingProtection-c 20px 2098px 104px 715px,
  openingProtection-n 20px 2214px 113px 715px, openingProtection-x 20px 2337px 14px 610px,
  openingProtectionA-a1 42px 1830px 14px 485px, openingProtectionA-a2 42px 1848px 28px 690px,
  openingProtectionA-a3 42px 1881px 14px 465px, openingProtectionB-b1 42px 2025px 14px 505px,
  openingProtectionB-b2 42px 2043px 28px 685px, openingProtectionB-b3 42px 2076px 14px 445px,
  openingProtectionC-c1 42px 2137px 14px 525px, openingProtectionC-c2 42px 2156px 28px 680px,
  openingProtectionC-c3 42px 2188px 14px 430px, openingProtectionN-n1 30px 2263px 14px 585px,
  openingProtectionN-n2 30px 2282px 28px 690px, openingProtectionN-n3 30px 2314px 14px 420px,
  eOtherDescription 108px 765px 16px 302px, fOtherDescription 111px 1269px 16px 315px,
  aHipRoofTotalLengthOfNonHipFeatures 331px 1385px 16px 42px,
  aHipRoofTotalRoofSystemPerimeter 557px 1386px 16px 50px,
  bFlatRoofSlopeLessThan212 426px 1418px 16px 55px, bFlatRoofTotalRoofArea 596px 1418px 16px 67px;

.windmit {
  position: relative;
  width: 815px;

  input[type='text'] {
    background-color: #e9f9fa;
    width: 100%;
    height: 100%;
  }

  .windmitForm {
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #efefef;
  }

  .windmitPage {
    top: 0;
    left: 0;
    position: absolute;
    width: 815px;
    height: 100%;
  }
  .warning {
    padding: 3px;
    background-color: red;
    width: fit-content;
    color: white;
    font-weight: 500;
    font-size: 13px;
    z-index: 20;
  }

  @each $key, $left, $top, $height, $width in $windmitCheckboxes {
    [id^='home-windmit-#{$key}-container'] {
      background: transparent;
      position: absolute;
      top: $top;
      left: $left;
      height: $height;
      width: $width;
    }
  }
}
