<style>
    .question {
        padding: 15px 10px;
        margin-bottom: .5em;
    }

    .inner-fg {
        box-shadow: 0 0 5px #e1e1e1;
        border-radius: 5px;
    }

    .invalid-msg-container {
        margin-top: 5px;
    }

    .invalid-msg {
        background-color: #f7cd29;
        border-radius: 4px;
        padding: 5px;
    }
</style>

<div class="question" [class]="classes + ['multigroup','fieldgroup'].includes(field.kind) ? ' inner-fg' : ''"
    *ngFor="let field of fg.children; index as i; trackBy: trackBy">

    <info-hover [fieldname]="fg.id"></info-hover>

    <div *ngIf="field.kind === 'multigroup'">
        <field-group *ngFor="let innerFg of field.children" [fg]="innerFg">
        </field-group>
    </div>

    <field-label *ngIf="field.kind === 'fieldgroup'" [for]="field.id" [image]="getDecoration(field.id)">{{field.label}}
        <field-group [fg]="field">
        </field-group>
    </field-label>

    <field-label *ngIf="field.kind === 'check'" [for]="field.id" [image]="getDecoration(field.id)">{{field.label}}
        <checkbox-field [field]="field"></checkbox-field>
    </field-label>

    <field-label *ngIf="field.kind === 'text'" [for]="field.id" [image]="getDecoration(field.id)">{{field.label}}
        <text-field [field]="field"></text-field>
    </field-label>

    <field-label *ngIf="field.kind === 'select'" [for]="field.id" [image]="getDecoration(field.id)">{{field.label}}
        <select-field [field]="field"></select-field>
    </field-label>

    <field-label *ngIf="field.kind === 'radio'" [for]="field.id" [image]="getDecoration(field.id)">{{field.label}}
        <radio-field [field]="field">
        </radio-field>
    </field-label>

    <div *ngIf="highlightErrors && !field.valid.valid && field.valid.msg">
        <div class="invalid-msg-container">
            <span class="invalid-msg">
                {{field.valid.msg}}
            </span>
        </div>
    </div>
</div>