span {
  vertical-align: middle;
  margin-right: 5px;
}

.info {
  position: absolute;
  border: 2px solid #9f9f9f;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
  z-index: 10;
  left: 15px;
}

.info::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #9f9f9f;
  position: absolute;
  left: 15px;
  top: -10px;
}
